@page "/changepassword"

@inject IJSRuntime JS
@inject Services.PageNavigationService PageNavService
@inject Services.UserDataService UserDataService
@inject Services.NotificationService NotificationService
@inject Services.UsersService UsersService

<PageTitle>Byt Lösenord</PageTitle>

<div class="row layout-top-spacing">
    <div id="flAutoSizing" class="col-lg-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Totalt Arbetad</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="form-group mb-4">
                    <div class="row g-3">

                        <div class="col-sm-6">
                            <label for="forordnandateDateInput">Nuvarande Lösenord</label>
                            <input id="forordnandateDateInput" type="text" class="form-control" placeholder="Password" aria-label="Passoword" @bind-value="this.currentPassword" @bind-value:event="oninput">
                        </div>

                        <div class="col-sm-6">
                            <label for="forordnandateDateInput">Nytt Lösenord</label>
                            <input id="forordnandateDateInput" type="text" class="form-control" placeholder="Password" aria-label="Passoword" @bind-value="this.newPassword" @bind-value:event="oninput">
                        </div>

                        <div class="col-sm-6">
                            <label for="forordnandateDateInput">Upprepa nytt Lösenord</label>
                            <input id="forordnandateDateInput" type="text" class="form-control" placeholder="Password" aria-label="Passoword" @bind-value="this.newPasswordConfirm" @bind-value:event="oninput">
                        </div>

                        <div class="form-group mb-4">
                            <label for="searchbookingsbutton">Byt Lösenord</label>
                            <button id="searchbookingsbutton" type="button" class="btn btn-primary" @onclick="this.ChangePasswordAsync">Byt Lösenord</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> _authenticationState { get; set; }

    private string currentPassword = "";
    private string newPassword = "";
    private string newPasswordConfirm = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.PageNavService.UpdateActivePage("ChangePassword");

            await this.UserDataService.LoadData();

            await JS.InvokeVoidAsync("OnScrollEvent");
            this.StateHasChanged();
        }
    }

    private async Task ChangePasswordAsync()
    {
        if(string.IsNullOrEmpty(this.currentPassword) || string.IsNullOrEmpty(this.newPassword) || string.IsNullOrEmpty(this.newPasswordConfirm))
        {
            await this.NotificationService.AlertError("Fyll i alla fält!");
            return;
        }

        if(this.newPassword != this.newPasswordConfirm)
        {
            await this.NotificationService.AlertError("Lösenord matchar inte!");
            return;
        }

        if(this.UserDataService.User == null)
        {
            await this.NotificationService.AlertError("Något gick fel!");
            return;
        }

        if(this.UserDataService.User.Password != this.currentPassword)
        {
            await this.NotificationService.AlertError("Fel Lösenord!");
            return;
        }

        this.UserDataService.User.Password = this.newPassword;
        await this.UsersService.UpdateUser(this.UserDataService.User);
        await this.NotificationService.AlertSuccess("Lösenord uppdaterad!");
    }
}